body {
  background-color: #f5f5f5;
}
.w {
  width: 1240px;
  margin: 0 auto;
}
header {
  width: 100%;
  height: 53px;
  background-color: #333;
  font-size: 14px;
  line-height: 53px;
}
header ul {
  float: right;
}
header ul li {
  box-sizing: border-box;
  float: left;
  position: relative;
}
header ul li:nth-child(2n) {
  width: 1px;
  height: 14px;
  margin: 20px;
  background-color: #666;
}
header ul li:last-child {
  padding-left: 10px;
}
header ul li:last-child::before {
  content: '';
  position: absolute;
  top: 18px;
  left: -8px;
  width: 11px;
  height: 16px;
  background: url(../images/shouji图像.png) no-repeat;
}
nav {
  position: relative;
  height: 130px;
  background-color: #fff;
  color: #dcdcdc;
}
nav .logo {
  position: absolute;
  top: 30px;
  left: 50px;
  width: 207px;
  height: 70px;
}
nav .search {
  position: absolute;
  top: 49px;
  left: 264px;
  width: 968px;
  height: 36px;
  margin-left: 30px;
  color: #333;
}
nav .search .left {
  position: absolute;
  top: 0;
  left: 0;
  width: 711px;
  height: 16px;
}
nav .search .left a {
  float: left;
  margin: 1px 44px 10px 0;
  color: #333;
  font-size: 16px;
}
nav .search .left a:hover {
  color: #27ba9b;
  border-bottom: 1px solid #27ba9b;
}
nav .search .right {
  position: absolute;
  top: 0;
  right: 66px;
  width: 180px;
  height: 35px;
  border-bottom: 2px solid #e7e7e7;
}
nav .search .right::before {
  content: '';
  position: absolute;
  top: 8px;
  left: -3px;
  width: 18px;
  height: 18px;
  background: url(../images/sousuo图像.png) no-repeat;
}
nav .search .right input {
  margin-left: 26px;
  height: 100%;
}
nav .search .car {
  position: absolute;
  top: 6px;
  right: 30px;
  width: 23px;
  height: 23px;
}
.help {
  width: 100%;
  height: 303px;
  background-color: #fff;
  margin-top: 38px;
}
.help .box {
  padding: 83px 62px 60px;
}
.help .box .show {
  position: relative;
  float: left;
  width: 193px;
  height: 143px;
  margin-right: 70px;
  text-align: center;
}
.help .box .show:nth-child(3) {
  width: 241px;
  height: 156px;
}
.help .box .show:nth-child(3) .box3 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 116px;
  height: 116px;
  border: 1px solid #f2f2f2;
  background: url(../images/图层894图像.png) no-repeat;
  background-position: center center;
}
.help .box .show:nth-child(3) .font {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 92px;
  height: 110px;
  text-align: left;
}
.help .box .show:nth-child(3) .font p {
  color: #999;
  font-size: 14px;
  margin-top: 8px;
}
.help .box .show:nth-child(3) .font button {
  margin: 6px 0px;
  width: 103px;
  height: 32px;
  background-color: #27ba9b;
  color: #fff;
  font-size: 14px;
}
.help .box .show:nth-child(2) .box1 {
  background: url(../images/-e-weixin图像.png) no-repeat;
  background-position: center center;
}
.help .box .show:nth-child(2) .box2 {
  background: url(../images/-e-weibo图像.png) no-repeat;
  background-position: center center;
}
.help .box .show:last-child {
  width: 160px;
  height: 122px;
}
.help .box .show:last-child .font {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding-top: 58px;
}
.help .box .show:last-child .font .big {
  color: #666;
  font-size: 22px;
  margin-bottom: 10px;
}
.help .box .show:last-child .font .gray {
  color: #999;
  font-size: 15px;
}
.help .box .show h4 {
  font-size: 16px;
  color: #999;
  font-weight: normal;
}
.help .box .show .box1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 93px;
  height: 92px;
  border: 1px solid #f2f2f2;
  background: url(../images/-e-kefu图像.png) no-repeat;
  background-position: center center;
}
.help .box .show .box2 {
  position: absolute;
  bottom: 0;
  right: 0px;
  width: 93px;
  height: 92px;
  border: 1px solid #f2f2f2;
  background: url(../images/-e-changjianwenti图像.png) no-repeat;
  background-position: center center;
}
footer {
  height: 342px;
  width: 100%;
  background-color: #333;
}
footer .first {
  height: 171px;
  width: 100%;
  border-bottom: 3px solid #434343;
}
footer .first a {
  float: left;
  margin: 56px 110px 56px;
}
footer .bottom {
  width: 537px;
  height: 40px;
  margin: 36px auto;
  line-height: 48px;
  text-align: center;
  color: #999;
}
footer .bottom a {
  color: #999;
  color: 14px;
}
